@page "/Genre"

<h1>Genre</h1>
@*<NavLink class="nav-link" href="/Action" Match="NavLinkMatch.All"><h6>Action</h6></NavLink>*@

<NavLink class="text-nowrap"><a class="font-weight-bold" href="/Action">Action</a></NavLink><br />

<NavLink class="text-nowrap"><a class="font-weight-bold" href="/Adventure">Adventure</a></NavLink>

@*<NavLink class="nav-link" href="/Adventure" Match="NavLinkMatch.All"><h6>Adventure</h6></NavLink>*@



    @code {

    }
