@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ProductReview</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/profile" Match="NavLinkMatch.All">
                        <span class="oi oi-person" aria-hidden="true"></span> @context.User.Identity.Name!
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    @*<NavLink class="nav-link" href="authentication/logout" Match="NavLinkMatch.All">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                        </NavLink>
                    </li>*@
                    <NavLink class="nav-link" href="#" @onclick="BeginSignOut" Match="NavLinkMatch.All">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All" @onclick="() => expandSubMenu=false">
                        <span class="oi oi-person" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All" @onclick="() => expandSubMenu=false">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="() => expandSubMenu=false">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/producttype" @onclick="()=>expandSubMenu=false">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Product Type
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/products" Match="NavLinkMatch.All" @onclick="() => expandSubMenu=true">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products
            </NavLink>
            @if (expandSubMenu)
        {
            <NavLink class="navbar-expand-md" href="/reviews">
                <span class="oi oi-intermediate-state-2" aria-hidden="true"></span> Reviews
            </NavLink>
            <NavLink class="navbar-expand-md" href="/comments">
                <span class="oi oi-intermediate-state-2" aria-hidden="true"></span> Comments
            </NavLink>
        }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/customers" @onclick="()=>expandSubMenu=true">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Customer
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenu;//add


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
