@page "/comment/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Comments</h3>
<hr />
<br />
<FormComponent ButtonText="Create Comment"  OnValidSubmit="@CreateComment" />

@code {
    Comment comment = new Comment();

    private IList<Comment> Comments;

    protected async override Task OnInitializedAsync()
    {
        Comments = await _client.GetFromJsonAsync<List<Comment>>($"{Endpoints.CommentsEndpoint}");
    }
    private async Task CreateComment()
    {
        await _client.PostAsJsonAsync(Endpoints.CommentsEndpoint, comment);
        _navManager.NavigateTo("/comment/");
    }
}
